body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #333;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}
